{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4 order_description">
                <img id="Logo" src="{% static 'application/img/two_fingers_hand1.png' %}"/>
                <h5>УСЛУГА "НЕТ СЛОВ"</h5>
                <p style="text-align:justify">Накосячили перед второй половинкой и не знаете с какой стороны подойти с извинениями?
                Мы сделаем это за вас! Доставим цветы/конфеты или любой ваш вариант извинений без слов!</p>
                <h5>Стоимость 5 р.</h5>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 order_description">
                <img id="Logo" src="{% static 'application/img/two_fingers_koza.png' %}"/>
                <h5>УСЛУГА "НЕ МЕЛОЧИ"</h5>
                <p style="text-align:justify">Ребенок забыл спортивную форму дома, а вы не успеваете заехать за ней? Хотите порадовать свою вторую половинку и 
                доставить записку\ чашку кофе\ цветы или сюрприз неожиданно и без повода?
                что может потребоваться вам в данный момент!</p>
                <h5>Стоимость 5 р.</h5>  
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 order_description">
                <img id="Logo" src="{% static 'application/img/two_fingers_ok.png' %}"/>
                <h5>УСЛУГА "СРОЧНО НАДО"</h5>
                <p style="text-align:justify">Забыли ключи или срочно нужно доставить важнейший документ? А может вы готовите праздничный ужин
                и забыли купить какой-то ингредиент? Доставим максимально оперативно все, что может потребоваться вам в данный момент!</p>
                <h5>Стоимость 6 р.</h5>  
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 order_description">
                <img id="Logo" src="{% static 'application/img/two_fingers_like.png' %}"/>
                <h5>УСЛУГА "ПОЧТЕННЫЙ ВОЗРАСТ"</h5>
                <p style="text-align:justify">Вашей пожилой бабушке срочно нужно лекарство, а вы далеко?
                 Хотите анонимно помочь одинокому пенсионеру или вашей пожилой соседке нужно привезти продукты?
                Мы готовы помочь вам и вашим близким! Доставим все необходимое прямо в руки!</p>
                <h5>Стоимость 4 р.</h5>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 order_description">
                <img id="Logo" src="{% static 'application/img/two_fingers_hand1.png' %}"/>
                <h5>УСЛУГА "ПО РУКАМ"</h5>
                <p style="text-align:justify"> Мы готовы к сотрудничеству с ремесленниками, рукодельницами, кондитерами и 
                другими талантливыми людьми нашего города! Доставим клиенту вашу работу! Вы не отвлекаетесь,
                 а ваш клиент оперативно и красиво получает заказ.</p>
                <h5>Стоимость 5 р.</h5>     
            </div>
    </div>
    <div class="container">    
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4 option_description">
                <h5>ОПЦИЯ "СТИХОПЛЁТ"</h5>
                <p style="text-align:justify">Передать подарок\извинения\посылку теперь можно не только быстро, но и 
                сделать это трогательно и красиво. Доступен к предварительному заказу оригинальный текст(именной,
                 юморной или в стихотворной форме)! Курьер приедет в соответствующем образе и произнесет согласованный текст.</p>
            </div>     
            <div class="col-xs-12 col-sm-6 col-lg-4 option_description">
                <h5>ОПЦИЯ "эМ\Же"</h5>
                <p style="text-align:justify">Если вы хотите заказать услугу исключительно через девушку-курьера или принципиально
                 доверяете мужчине-курьеру, то мы готовы пойти вам на встречу, когда этого требует ситуация.</p>
            </div>
        </div>   
    </div>
    
{% endblock %} 